/* Menu Lateral */
.menu-lateral {
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    padding-top: 20px;
    overflow-y: auto;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li {
    margin: 15px 0;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.menu-lateral ul li a:hover {
    background-color: #4caf50;
    color: #fff;
    /* Ocultar los submenús inicialmente */
.menu-lateral ul ul {
    display: none;
    list-style: none;
    padding-left: 20px;
}

/* Mostrar el submenú cuando se active */
.menu-lateral ul li.active > ul {
    display: block;
}

}